.floating-buttons-row {
  position: fixed;
  bottom: 40px;
  left: 525px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  z-index: 9999;
}

.floating-icon-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  color: #ffffff;
  text-shadow: 0 0 15px rgba(4, 20, 192, 0.682);
  transition: transform 0.2s;
}

.floating-icon-btn:hover {
  transform: scale(1.12);
}

.floating-icon-btn__icon {
  font-size: 3.5rem;
  margin-bottom: 3px;
  filter: drop-shadow(0 0 10px rgba(4, 19, 192, 0.6));
}

.floating-icon-btn__label {
  font-family: 'nebula', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
